<% include ./partials/header.ejs %>
<div id="conwayGrid"></div>
<button id="step">Step</button>
<button id="start">Start</button>
<button id="stop">Stop</button>
<button id="clear">Clear board</button>
<script type="text/javascript" src="/scripts/gameoflife.js"></script>
<% include ./partials/footer.ejs %>