<% include ./partials/header.ejs %>
<div id="direction">
  Left
</div>
<canvas id="snakeCanvas"></canvas>
<script type="text/javascript" src="/scripts/snake.js"></script>
<% include ./partials/footer.ejs %>