<% include ./partials/header.ejs %>
<h3 id="status">Use WASD or arrow keys to move</h3>
<div>Score: <span id="score">-</span></div>
<div>High Score: <span id="highScore">-</span></div>
<canvas id="snakeCanvas">To view this hotness, you need to use a better browser.</canvas>
<script type="text/javascript" src="/scripts/snake.js"></script>
<% include ./partials/footer.ejs %>