<% include ./partials/header.ejs %>
<h3 id="status">Use WASD to move</h3>
<div>Score: <span id="score">-</span></div>
<div>High Score: <span id="highScore">-</span></div>
<canvas id="snakeCanvas"></canvas>
<script type="text/javascript" src="/scripts/snake.js"></script>
<% include ./partials/footer.ejs %>